$color_1: #222;
$background-color_1: #f8f8f8;
$background-color_2: var(--theme-color);

.category-menu {
	background-color: $background-color_1;
	padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
	border-radius: 5px;
	h3 {
		margin-bottom: 40px;
		font-weight: 600;
		position: relative;
		display: inline-block;
		&::before {
			content: "";
			position: absolute;
			width: 70%;
			height: 2px;
			bottom: -8px;
			left: 0;
			background-color: $background-color_2;
		}
	}
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 23px;
		border-bottom: 1px dashed rgba(74, 85, 104, 0.5);
		li {
			display: block;
			width: 100%;
			.category-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				gap: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				color: $color_1;
				&:hover {
					h5 {
						a {
							letter-spacing: 0.5px;
							&:before {
								width: 70px;
							}
						}
					}
				}
				svg {
					width: 25px;
					height: 25px;
					stroke: #222;
				}
				img {
					width: 25px;
					height: 25px;
					-o-object-fit: contain;
					object-fit: contain;
				}
				h5 {
					a {
						color: $color_1;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						overflow: hidden;
						position: relative;
						z-index: 0;
						-webkit-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
						&:hover {
							color: $color_1;
						}
						&::before {
							content: "";
							position: absolute;
							width: 0;
							height: 3px;
							bottom: 0;
							left: 0;
							opacity: 0.5;
							border-radius: 50px;
							background-color: $background-color_2;
							z-index: -1;
							-webkit-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
						}
					}
				}
				i {
					margin-left: auto;
				}
			}
		}
		li.pb-30 {
			margin-bottom: 30px;
		}
	}
	ul.value-list {
		margin-top: 35px;
		border: none;
	}
}
.category-menu-2 {
	background: linear-gradient(136.8deg, #f6f5f2 17.01%, #fdf7f0 93.97%);
}
[dir="rtl"] {
	.category-menu {
		h3 {
			&::before {
				left: unset;
				right: 0;
			}
		}
		ul {
			li {
				.category-list {
					h5 {
						a {
							&::before {
								left: unset;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
}
.category-menu.menu-xl {
	position: sticky;
	top: 130px;
	ul {
		gap: 28px;
		border-bottom: none;
		li {
			.category-list {
				img {
					width: 35px;
					height: 35px;
				}
				h5 {
					font-size: 17px;
				}
			}
		}
	}
}
