$color_1: var(--theme-color);
$color_2: #4a5568;
$background-color_1: #f8f8f8;
$background-color_2: #fff;
$background-color_3: transparent;

.qty-box {
	margin-top: 10px;
	width: 100%;
	max-width: 250px;
	.input-group {
		background-color: $background-color_1;
		border-radius: 7px;
		padding: 4px;
		text-align: center;
		z-index: 0;
		button {
			width: calc(26px + (35 - 26) * ((100vw - 320px) / (1920 - 320)));
			height: calc(26px + (35 - 26) * ((100vw - 320px) / (1920 - 320)));
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			border: none;
			padding: 0;
			background-color: $background-color_2;
			z-index: 0;
			border-radius: 4px !important;
			i {
				font-size: 13px;
				color: $color_1;
				margin-top: 1px;
			}
			&:focus {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
		input {
			height: auto;
			background-color: $background-color_3;
			border: none;
			padding: 0;
			text-align: center;
			font-size: 14px;
			color: $color_2;
		}
	}
	.input-group.theme-bg-white {
		background-color: $background-color_2;
	}
}