
.client-section {
  background-color: #f8f8f8;
}
.client-section .clint-contain {
  background: #fff;
  padding: calc(27px + (50 - 27) * ((100vw - 320px) / (1920 - 320)));
  border-radius: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}
.client-section .clint-contain:hover .client-icon img {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.client-section .clint-contain:hover h2 {
  opacity: 0.09;
  margin-right: 9px;
}
.client-section .clint-contain:hover h4 {
  color: var(--theme-color);
}
.client-section .clint-contain .client-icon {
  width: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
  height: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 14px;
  margin-top: -11px;
}
.client-section .clint-contain .client-icon img {
  width: 74%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.client-section .clint-contain h2 {
  position: absolute;
  top: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
  right: calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
  color: #4a5568;
  opacity: 0.05;
  font-size: calc(52px + (70 - 52) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[dir="rtl"] .client-section .clint-contain h2 {
  right: unset;
  left: calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
}
.client-section .clint-contain h4 {
  font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 7px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.client-section .clint-contain p {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  color: #4a5568;
  margin: 0 auto;
  line-height: 1.7;
  margin-bottom: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.client-section .client-box .client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.client-section .client-box .client-list li {
  width: 460px;
  position: relative;
}