
.review-title h4 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
  color: #222;
  font-weight: 400;
}
.review-title h2 {
  font-size: calc(26px + (40 - 26) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));
  width: 80%;
  line-height: 1.3;
  position: relative;
}
@media (max-width: 480px) {
  .review-title h2 {
    width: 100%;
  }
}
.review-title h2.center::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: var(--theme-color);
}
.about-us-title h4 {
  font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
  color: var(--theme-color);
  font-family: "Pacifico", cursive;
}
.about-us-title h2 {
  font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(28px + (41 - 28) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.3;
  position: relative;
}
.about-us-title h2::before {
  content: "";
  position: absolute;
  width: calc(106px + (175 - 106) * ((100vw - 320px) / (1920 - 320)));
  height: 3px;
  bottom: calc(-7px + (6 - 7) * ((100vw - 320px) / (1920 - 320)));
  left: 0;
  background: #ffa53b;
}
.about-us-title h2.center::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}