@model List<Category>

<div class="footer-title">
    <h4>Categories</h4>
</div>

<div class="footer-contain">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Shop", new { categoryId = item.Id })" class="text-content">@item.Name</a>
            </li>
        }
    </ul>
</div>