$background-color_1: #f8f8f8;

footer {
	background-color: $background-color_1;
	position: relative;
	z-index: 0;
	&::after {
		content: "";
		position: absolute;
		width: 30%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../images/vegetable/footer-shape.png);
		background-repeat: no-repeat;
		z-index: -1;
	}
	&:before {
		content: "";
		position: absolute;
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		background-image: url(../images/vegetable/footer-shape-2.png);
		background-repeat: no-repeat;
		z-index: -1;
	}
}
@media (max-width: 1199px) {
	footer {
		&::after {
			content: none;
		}
		&:before {
			content: none;
		}
	}
}

@import './main-footer';
@import './sub-footer'