<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/manage/assets/images/logo/p.png" type="image/x-icon">
    <title>Dashboard | Putka</title>

    <!-- STYLESHEET Codes -->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/manage/assets/css/linearicon.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/font-awesome.css">
    <script src="https://kit.fontawesome.com/460a2c75b1.js" crossorigin="anonymous"></script>

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/themify.css">

    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/ratio.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/remixicon.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/feather-icon.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/animate.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vendors/bootstrap.css">

    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/vector-map.css">

    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="~/manage/assets/css/vendors/slick.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/style.css">

    <!-- JS Codes -->
    <!-- latest js -->
    <script src="~/manage/assets/js/jquery-3.6.0.min.js" defer></script>

    <!-- Bootstrap js -->
    <script src="~/manage/assets/js/bootstrap/bootstrap.bundle.min.js" defer></script>

    <!-- feather icon js -->
    <script src="~/manage/assets/js/icons/feather-icon/feather.min.js" defer></script>
    <script src="~/manage/assets/js/icons/feather-icon/feather-icon.js" defer></script>

    <!-- scrollbar simplebar js -->
    <script src="~/manage/assets/js/scrollbar/simplebar.js" defer></script>
    <script src="~/manage/assets/js/scrollbar/custom.js" defer></script>

    <!-- Sidebar jquery -->
    <script src="~/manage/assets/js/config.js" defer></script>

    <!-- tooltip init js -->
    <script src="~/manage/assets/js/tooltip-init.js" defer></script>

    <!-- Plugins JS -->
    <script src="~/manage/assets/js/sidebar-menu.js" defer></script>
    <script src="~/manage/assets/js/notify/bootstrap-notify.min.js" defer></script>
    <script src="~/manage/assets/js/notify/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

    <!-- Apexchar js -->
    <script src="~/manage/assets/js/chart/apex-chart/apex-chart1.js" defer></script>
    <script src="~/manage/assets/js/chart/apex-chart/moment.min.js" defer></script>
    <script src="~/manage/assets/js/chart/apex-chart/apex-chart.js" defer></script>
    <script src="~/manage/assets/js/chart/apex-chart/stock-prices.js" defer></script>
    <script src="~/manage/assets/js/chart/apex-chart/chart-custom1.js" defer></script>


    <!-- slick slider js -->
    <script src="~/manage/assets/js/slick.min.js" defer></script>
    <script src="~/manage/assets/js/custom-slick.js" defer></script>

    <!-- customizer js -->
    <script src="~/manage/assets/js/customizer.js" defer></script>

    <!-- ratio js -->
    <script src="~/manage/assets/js/ratio.js" defer></script>

    <!-- sidebar effect -->
    <script src="~/manage/assets/js/sidebareffect.js" defer></script>

    <!-- Theme js -->
    <script src="~/manage/assets/js/script.js" defer></script>
</head>

<body>

    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper m-0">
                <div class="header-logo-wrapper p-0">
                    <div class="logo-wrapper">
                        <a href="index.html">
                            <img class="img-fluid main-logo" src="~/manage/assets/images/logo/putka.png" alt="logo">
                            <img class="img-fluid white-logo" src="~/manage/assets/images/logo/putka.png" alt="logo">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                        <a href="index.html">
                            <img src="~/manage/assets/images/logo/1.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <img class="user-profile rounded-circle" src="~/manage/assets/images/users/4.jpg" alt="">
                                <div class="user-name-hide media-body">
                                    <span>@User.Identity.Name</span>
                                    <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li>
                                    <a asp-controller="user" asp-action="index">
                                        <i data-feather="users"></i>
                                        <span>Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="order" asp-action="index">
                                        <i data-feather="archive"></i>
                                        <span>Orders</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="setting" asp-action="index">
                                        <i data-feather="settings"></i>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="account" asp-action="logout">
                                        <i data-feather="log-out"></i>
                                        <span>Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="index.html" data-bs-original-title="" title="">
                            <img class="img-fluid for-white" src="~/manage/assets/images/logo/putka.png" alt="logo">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a asp-controller="dashboard" asp-action="index">
                            <img class="img-fluid main-logo main-white" src="~/manage/assets/images/logo/logo.png" alt="logo">
                            <img class="img-fluid main-logo main-dark" src="~/manage/assets/images/logo/logo-white.png"
                                 alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-controller="dashboard" asp-action="index">
                                        <i class="ri-home-line"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-store-3-line"></i>
                                        <span>Products</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="product" asp-action="index">Products</a>
                                        </li>

                                        <li>
                                            <a asp-controller="product" asp-action="create">Add New Product</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-check-2"></i>
                                        <span>Categories</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="category" asp-action="index">Category List</a>
                                        </li>

                                        <li>
                                            <a asp-controller="category" asp-action="create">Add New Category</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-price-tag-3-line"></i>
                                        <span>Tags</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="tag" asp-action="index">Tag List</a>
                                        </li>

                                        <li>
                                            <a asp-controller="tag" asp-action="create">Add New Tag</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-settings-line"></i>
                                        <span>Products & Tags</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="producttag" asp-action="index">Products and Tags relation</a>
                                        </li>

                                        <li>
                                            <a asp-controller="producttag" asp-action="create">Add New Relation</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-scales-line"></i>
                                        <span>Weights</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="weight" asp-action="index">Weight List</a>
                                        </li>

                                        <li>
                                            <a asp-controller="weight" asp-action="create">Add New Weight</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-settings-line"></i>
                                        <span>Products & Weights</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="productweight" asp-action="index">Products and Weights relation</a>
                                        </li>

                                        <li>
                                            <a asp-controller="productweight" asp-action="create">Add New Relation</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-user-3-line"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="user" asp-action="index">All users</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-shield-user-line"></i>
                                        <span>Roles</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="role" asp-action="index">All roles</a>
                                        </li>
                                        <li>
                                            <a asp-controller="role" asp-action="create">Create Role</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-archive-line"></i>
                                        <span>Orders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="order" asp-action="index">Order List</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="product-review.html">
                                        <i class="ri-star-line"></i>
                                        <span>Product Review</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-settings-line"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="setting" asp-action="index">Layout Settings</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="reports.html">
                                        <i class="ri-file-chart-line"></i>
                                        <span>Reports</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            @RenderBody()

            <!-- footer start-->
            <div class="container-fluid">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2023 © Putka by samedusa</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- footer end-->
            
            <!-- index body end -->

        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

</body>

</html>