$color_1: #222;
$color_2: #4a5568;
$color_3: var(--theme-color);
$font-family_1: "Public Sans", sans-serif;
$background-color_1: #f8f8f8;
$background-color_2: #fff;
$background-color_3: #ddd;
$background-color_4: #f9f9f9;

.log-in-section {
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 0;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../images/inner-page/log-in-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	.image-contain {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 100%;
	}
	.log-in-form {
		.form-control {
			border: none;
		}
	}
	.inputs {
		margin: calc(-2px + (-8 - 2) * ((100vw - 320px) / (1920 - 320)));
		input {
			margin: calc(2px + (8 - 2) * ((100vw - 320px) / (1920 - 320)));
			border: none;
		}
	}
	.log-in-box {
		background-color: $background-color_1;
		padding: calc(16px + (50 - 16) * ((100vw - 320px) / (1920 - 320)));
		border-radius: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
		.logo-name {
			margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
			margin-top: -10px;
			a {
				font-size: calc(28px + (35 - 28) * ((100vw - 320px) / (1920 - 320)));
				font-weight: bold;
				color: $color_1;
				font-family: $font-family_1;
				display: block;
				img {
					width: calc(150px + (225 - 150) * ((100vw - 320px) / (1920 - 320)));
				}
			}
		}
		.log-in-title {
			margin-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
			h3 {
				margin-bottom: calc(1px + (6 - 1) * ((100vw - 320px) / (1920 - 320)));
				font-size: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
			}
			h4 {
				color: $color_2;
				margin-top: 8px;
			}
			h5 {
				color: $color_2;
				margin-top: 8px;
			}
		}
		.log-in-button {
			margin-top: 20px;
			padding: 1px 0;
			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: 15px;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				li {
					display: block;
					width: 100%;
					a {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
						color: $color_1;
						border-radius: 5px;
						padding: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320))) calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
						background-color: $background-color_2;
						img {
							width: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
						}
					}
				}
			}
		}
		.forgot-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		.remember-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			.check-box {
				display: block;
				margin-top: -6px;
			}
			label {
				font-size: 16px;
				span {
					font-weight: 500;
					color: $color_3;
				}
			}
		}
		.forgot-password {
			font-size: 16px;
			font-weight: 500;
			display: block;
			&:hover {
				color: $color_3;
			}
		}
		.other-log-in {
			margin-top: 15px;
			text-align: center;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				left: 0;
				background-color: $background-color_3;
				z-index: 0;
			}
			h6 {
				color: $color_2;
				position: relative;
				background-color: $background-color_4;
				padding: 0 14px;
				display: inline-block;
				text-transform: uppercase;
			}
		}
		.sign-up-box {
			margin-top: 20px;
			text-align: center;
			h4 {
				color: $color_2;
				font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
				margin-bottom: calc(0px + (3 - 0) * ((100vw - 320px) / (1920 - 320)));
			}
			a {
				font-weight: 500;
				font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
				margin-bottom: -4px;
				display: block;
				&:hover {
					color: $color_3;
				}
			}
		}
		.contact-title {
			margin-bottom: 30px;
			h2 {
				margin-bottom: 15px;
			}
			h5 {
				width: 53%;
				font-size: 18px;
				line-height: 1.3;
				color: $color_2;
			}
		}
	}
}
.log-in-section.otp-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
[dir="rtl"] {
	.log-in-section {
		.log-in-box {
			.log-in-button {
				ul {
					padding-right: 0;
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.log-in-section {
		.log-in-box {
			.forgot-box {
				display: block;
			}
		}
	}
}