
.theme-option {
  position: fixed;
  bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  right: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[dir="rtl"] .theme-option {
  right: unset;
  left: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
}
@media (max-width: 767px) {
  .theme-option {
    bottom: calc(75px + (80 - 75) * ((100vw - 320px) / (1920 - 320)));
  }
}
.theme-option .back-to-top {
  background-color: var(--theme-color);
  padding: 0;
  border-radius: 5px;
  z-index: 1;
  margin-top: 12px;
}
[dir="rtl"] .theme-option .back-to-top {
  right: unset;
  left: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.theme-option .back-to-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.theme-option .back-to-top a i {
  color: #fff;
}