
header .onhover-dropdown {
  position: relative;
}
header .onhover-dropdown:hover .onhover-div {
  opacity: 1;
  top: 50px;
  visibility: visible;
}
header .onhover-dropdown .onhover-div {
  position: absolute;
  top: 60px;
  right: -10px;
  background-color: #fff;
  z-index: 1001;
  width: 320px;
  border-radius: 10px;
  padding: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)))
    calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));
  -webkit-box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07),
    5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07),
    5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
[dir="rtl"] header .onhover-dropdown .onhover-div {
  right: unset;
  left: 20px;
}
header .onhover-dropdown .onhover-div-login {
  right: 0;
  width: 160px;
  padding: 20px;
}
header .onhover-dropdown .onhover-div-login .user-box-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .onhover-dropdown .onhover-div-login .user-box-name li {
  display: block;
  width: 100%;
}
header .onhover-dropdown .onhover-div-login .user-box-name li a {
  color: #222;
  display: block;
  position: relative;
}
header .onhover-dropdown .onhover-div-login .user-box-name li a:hover::after {
  width: 40%;
}
header .onhover-dropdown .onhover-div-login .user-box-name li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: var(--theme-color);
  opacity: 0.3;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header .onhover-dropdown .onhover-div .cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  border-bottom: 1px solid #ececec;
  padding-bottom: calc(12px + (22 - 12) * ((100vw - 320px) / (1920 - 320)));
}
[dir="rtl"] header .onhover-dropdown .onhover-div .cart-list {
  padding-right: 0;
}
header .onhover-dropdown .onhover-div .cart-list li {
  margin: 0 !important;
}
header .onhover-dropdown .onhover-div .cart-list li::after {
  content: none !important;
}
header .onhover-dropdown .onhover-div .cart-list li .drop-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
header .onhover-dropdown .onhover-div .cart-list li .drop-cart::after {
  content: none;
}
header .onhover-dropdown .onhover-div .cart-list li .drop-cart .drop-image img {
  width: 87px;
  background: #f8f8f8;
  padding: 10px;
}
header
  .onhover-dropdown
  .onhover-div
  .cart-list
  li
  .drop-cart
  .drop-contain
  h5 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
  color: var(--theme-color);
  font-weight: 500;
}
header
  .onhover-dropdown
  .onhover-div
  .cart-list
  li
  .drop-cart
  .drop-contain
  h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 5px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
header
  .onhover-dropdown
  .onhover-div
  .cart-list
  li
  .drop-cart
  .drop-contain
  h6
  span {
  margin-top: -2px;
  color: #4a5568;
}
header
  .onhover-dropdown
  .onhover-div
  .cart-list
  li
  .drop-cart
  .drop-contain
  .close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #4a5568;
}
[dir="rtl"]
  header
  .onhover-dropdown
  .onhover-div
  .cart-list
  li
  .drop-cart
  .drop-contain
  .close-button {
  right: unset;
  left: 0;
}
header .onhover-dropdown .onhover-div .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}
header .onhover-dropdown .onhover-div .button-group .cart-button {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  padding: 6px 10px;
}
header .onhover-dropdown .onhover-div .button-group .cart-button:hover {
  background-color: var(--theme-color);
  color: #fff;
}
header .onhover-dropdown .onhover-div .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}