@media (max-width: 1199px) {
  header .top-nav .navbar-top .rightside-box {
    margin-left: auto;
  }
  [dir="rtl"] header .top-nav .navbar-top .rightside-box {
    margin-left: unset;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  header .top-nav .navbar-top .rightside-box {
    margin-left: unset;
  }
  [dir="rtl"] header .top-nav .navbar-top .rightside-box {
    margin-left: unset;
    margin-right: unset;
  }
}
header .top-nav .navbar-top .rightside-box .right-side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
[dir="rtl"] header .top-nav .navbar-top .rightside-box .right-side-menu {
  padding-left: unset;
  padding-right: 0;
}
header .top-nav .navbar-top .rightside-box .right-side-menu .right-side {
  position: relative;
  padding-right: 32px;
}
[dir="rtl"]
  header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side {
  padding-right: unset;
  padding-left: 32px;
}
@media (max-width: 767px) {
  header .top-nav .navbar-top .rightside-box .right-side-menu .right-side {
    display: none;
  }
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side:last-child {
    display: block;
  }
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side:first-child {
  display: none;
}
@media (max-width: 1199px) {
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side:first-child {
    display: block;
  }
}
@media (max-width: 767px) {
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side:first-child {
    display: none;
  }
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side:last-child {
  padding-right: 0;
}
[dir="rtl"]
  header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side:last-child {
  padding-right: unset;
  padding-left: 0;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side:last-child::before {
  content: none;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  right: 14px;
  background-color: rgba(74, 85, 104, 0.5);
}
[dir="rtl"]
  header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side::before {
  right: unset;
  left: 14px;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .delivery-login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .delivery-login-box
  .delivery-icon
  .feather {
  color: #222;
  margin-right: 14px;
  stroke-width: 1.5;
}
[dir="rtl"]
  header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .delivery-login-box
  .delivery-icon
  .feather {
  margin-right: unset;
  margin-left: 14px;
}
@media (max-width: 1660px) {
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side
    .delivery-login-box
    .delivery-icon
    .feather {
    margin-right: 0;
  }
  [dir="rtl"]
    header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side
    .delivery-login-box
    .delivery-icon
    .feather {
    margin-right: unset;
    margin-left: 0;
  }
}
@media (max-width: 1660px) {
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side
    .delivery-login-box
    .delivery-detail {
    display: none;
  }
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .delivery-login-box
  .delivery-detail
  h6 {
  color: #4a5568;
  margin-bottom: 3px;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .delivery-login-box
  .delivery-detail
  h5 {
  font-weight: 500;
  color: #222;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .header-badge {
  padding-right: 9px;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .header-wishlist
  .feather {
  stroke-width: 1.5;
  color: #4a5568;
}
@media (max-width: 1660px) {
  header
    .top-nav
    .navbar-top
    .rightside-box
    .right-side-menu
    .right-side
    .header-wishlist
    .feather {
    color: #222;
  }
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .header-wishlist:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .header-wishlist
  span {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff7272;
  font-size: 12px;
  padding: 0;
  border-radius: 2px;
}
[dir="rtl"]
  header
  .top-nav
  .navbar-top
  .rightside-box
  .right-side-menu
  .right-side
  .header-wishlist
  span {
  right: 0 !important;
}