@model ProductComment
<div class="col-xl-6">
    <div class="review-title">
        <h4 class="fw-500">Add a review</h4>
    </div>

    <div class="row g-4 col-8">
        <div class="rate">
            <input form="commentForm" type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input form="commentForm" type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input form="commentForm" type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input form="commentForm" type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input form="commentForm" type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <span class="text-danger" asp-validation-for="Rate"></span>
    </div>

    <div class="row g-4">
        <form method="post" asp-action="comment" id="commentForm">
            <div class="col-12">
                <div class="form-floating theme-form-floating">
                    <textarea asp-for="Comment" class="form-control"
                              placeholder="Leave a comment here"
                              style="height: 150px"></textarea>
                    <label asp-for="Comment">
                        Write Your
                        Comment
                    </label>
                    <span class="text-danger" asp-validation-for="Comment"></span>
                </div>
            </div>

            <input name="ProductId" type="hidden" value="@Model.ProductId" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-25 mx-auto" style="background-color: #0da487; color: white">Submit</button>
            </div>
        </form>

    </div>
</div>