$font-family_1: "Public Sans", sans-serif;

.section-404 {
	.image-404 {
		text-align: center;
		img {
			width: 25%;
		}
	}
	.contain-404 {
		width: 50%;
		text-align: center;
		margin: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))) auto 0;
		font-family: $font-family_1;
		h3 {
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
			line-height: 1.5;
			font-weight: 400;
		}
		button {
			margin-top: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
		}
	}
}
@media (max-width: 1460px) {
	.section-404 {
		.image-404 {
			img {
				width: 40%;
			}
		}
	}
}
@media (max-width: 991px) {
	.section-404 {
		.image-404 {
			img {
				width: 50%;
			}
		}
	}
}
@media (max-width: 575px) {
	.section-404 {
		.image-404 {
			img {
				width: 70%;
			}
		}
	}
}
@media (max-width: 1660px) {
	.section-404 {
		.contain-404 {
			width: 60%;
		}
	}
}
@media (max-width: 1199px) {
	.section-404 {
		.contain-404 {
			width: 80%;
		}
	}
}
@media (max-width: 767px) {
	.section-404 {
		.contain-404 {
			width: 100%;
		}
	}
}